<%= provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span8 offset2">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>

      <%= devise_error_messages! %>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %><i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div>
        <%= f.label :current_password %>
        <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn pull-right' %>
      </div>
    <% end %>

    <div class="alert alert-warning danger">
      <h3 class="center">Upload Books</h3>
      <div class="well center">
        <p>
          This action will import books information from the uploaded document.
        </p>
        <p>
          Existing books will be removed!
        </p>
        <%= form_tag import_books_path, multipart: true do %>
          <%= file_field_tag :file %><br/>
          <%= submit_tag 'Import', class: 'btn btn-warning center', confirm: 'Are you sure?' %>
        <% end %>
      </div>
    </div>

    <div class="alert alert-error danger">
      <h3 class="center">Cancel Account</h3>
      <div class="well center">
        <p>
          This action will completely remove your account and cannot be undone!
        </p>
        <%= link_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure?'},
                    method: :delete,
                    class: 'btn btn-danger center' %>
      </div>
    </div>

    <!--
    <p>Unhappy?
      .</p>-->


  </div>
</div>