<tr>
  <td class='image_column'>
    <%= link_to image_tag('book.png', alt: 'Book'), book_path(book) %>
  </td>
  <td>
    <%= link_to book.name, book_path(book) %><%= ", #{book.year}" unless book.year.to_s.empty? %>.
    <%= "Volume: #{book.volume}." unless book.volume.empty? %>
    <i>
      <%= book.comment %>
    </i>
  </td>
  <td class='image_column'>
    <% if book.place_id %>
      <%= link_to image_tag('place.png', alt: book.place.name), place_path(book.place) %>
    <% end %>
  </td>
</tr>
