<div class="well well-small">
  <%= f.fields_for :authors do |builder| %>
    <fieldset>
      <%= render 'author_fields', f: builder %>
    </fieldset>
  <% end %>
  <%= link_to_add_fields "Add Author", f, :authors %>
</div>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :volume %>
<%= f.text_field :volume %>

<%= f.label :year %>
<%= f.text_field :year %>

<%= f.label :comment %>
<%= f.text_area :comment, rows: 4 %>

<%= f.label :place_id %>
<%= f.collection_select :place_id, current_user.places, :id, :name, include_blank: 'Please select' %>