<% unless book.sold? %>
  <tr>
    <td class='image_column'>
      <%= link_to image_tag('book.png', alt: 'Book'), book_path(book) %>
    </td>
    <td>
      <%= link_to book.name, book_path(book) %><%= ", #{book.year}" unless book.year.blank? %>.
      <%= "Volume: #{book.volume}." unless book.volume.blank? %>
      <i>
        <%= book.comment %>
      </i>
      <br/>
      <span class="label label-inverse">Authors:</span>
      <% authors = book.authors %>
      <% if authors.count > 0 %>
        <ol class="authors-list">
        <% authors.each do |author| %>
          <li><span class="label"><%= author.name %></span></li>;
        <% end %>
        </ol>
      <% end %>
    </td>
    <td>
      <%= render 'shared/book_sale_checkbox', book: book %>
    </td>
    <td class='image_column'>
      <% if book.place_id %>
        <%= link_to image_tag('place.png', alt: book.place.name), place_path(book.place) %>
      <% end %>
    </td>
  </tr>
<% end %>