<%= provide(:title, 'Edit book') %>
<h1>Editing Book</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@book) do |f| %>

      <%= render 'shared/error_messages', object: @book %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :volume %>
      <%= f.text_field :volume %>

      <%= f.label :year %>
      <%= f.text_field :year %>

      <%= f.label :comment %>
      <%= f.text_field :comment %>

      <%= f.label :place_id %>
      <%= f.collection_select :place_id, current_user.places, :id, :name, include_blank: 'Please select' %>

      <div class="form-actions">
        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
        <%= link_to 'Delete book', @book, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
        <%= link_to 'Cancel', :back, class: 'btn pull-right' %>
      </div>
    <% end %>
  </div>
</div>