<%= provide(:title, 'Edit book') %>
<h1>Editing Book</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@book) do |f| %>

      <%= render 'shared/error_messages', object: @book %>

      <%= render 'book_form', f: f %>

      <div class="form-actions">
        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
        <%= link_to 'Delete book', @book, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
        <%= link_to 'Cancel', :back, class: 'btn pull-right' %>
      </div>
    <% end %>
  </div>
</div>