<%= provide(:title, 'New Book') %>
<h1>Creating new book</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@book) do |f| %>

      <%= render 'shared/error_messages', object: @book %>

      <%= render 'book_form', f: f %>

      <div class="form-actions">
        <%= f.submit 'Create new book', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn pull-right' %>
      </div>
    <% end %>
  </div>
</div>


