<% provide(:title, @book.name) %>

<div class="row">
  <div class="span12">
    <div>
      <h1>
        <%= link_to image_tag('book.png', alt: 'Book'), book_path(@book) %>
        <%= @book.name %>
      </h1>
    </div>
    <table class="table table-bordered">
      <%= render 'shared/book_table_header' %>
      <%= render 'shared/book_row_info', book: @book %>
    </table>
    <div>
      <%= link_to 'Edit this book', edit_book_path(@book), class: 'btn' %>
    </div>
  </div>
</div>

