<%= provide(:title, 'Edit place') %>
<h1>Editing Place</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@place) do |f| %>
      <%= render 'shared/error_messages', object: @place %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <div class="form-actions">
        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn pull-right' %>
      </div>
    <% end %>
  </div>
</div>