<% provide(:title, @place.name) %>

<div class="row">
  <div class="span12">
    <div>
      <h1>
        <%= link_to image_tag('place.png', alt: 'Place'), place_path(@place) %>
        <%= @place.name %>
      </h1>
    </div>
    <h2>
      Books, that are located in this Place
    </h2>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Volume</th>
        <th>Year</th>
        <th>Comment</th>
      </tr>
      <% @place.books.each do |book| %>
          <%= render 'shared/book_row_info', book: book %>
      <% end %>
    </table>
    <div>
      <%= link_to 'Edit place', edit_place_path(@place), class: 'btn' %>
      <%= link_to 'Add new Book', new_book_path, class: 'btn' %>
    </div>
  </div>
</div>

