<% provide(:title, @place.name) %>

<div class="row">
  <div class="span12">
    <div>
      <h1>
        <%= link_to image_tag('place.png', alt: 'Place'), place_path(@place) %>
        <%= @place.name %>
      </h1>
    </div>
    <h2>
      Books that are located here
    </h2>
    <table class="table table-bordered">
      <%= render 'shared/book_table_header' %>
      <% @place.books.each do |book| %>
        <% unless book.sold? %>
          <%= render 'shared/book_row_info', book: book %>
        <% end %>
      <% end %>
    </table>
    <div>
      <%= link_to 'Edit place', edit_place_path(@place), class: 'btn' %>
      <%= link_to 'Add new Book', new_book_path(place_id: @place.id), class: 'btn' %>
    </div>
  </div>
</div>

